#firebaseui-auth-container{
    margin: auto;
    width: 60%;
    padding: 10px;
    margin-top: 150px;
}

.mdl-button--raised.mdl-button--colored {
    background-color: red;
    color: white;
}

.mdl-button--raised.mdl-button--colored:hover{
    background-color: red;
    color: white;
}

body{
    background-color: black;
}